@using NLayer.Core.DTOs.DepartmentDtos
@model List<GetWithEmployeesDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Scripts{
    <script>
        function performDetailAjax(element) {
            var id = $(element).attr('data-id1');

            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: 'GET',
                url: '/Department/Detail/' + id,
                success: function (response) {
                    // Dönen sonucu işleyin ve alanları doldurun
                    var employee = JSON.parse(response); // JSON dizesini nesneye dönüştür

                    console.log(employee);
                    // Form inputlarını doldurma işlemi
                    var formValues = [
                        { name: "Id", value: employee.Id },
                        { name: "Name", value: employee.Name },
                        { name: "DepartmentManager", value: employee.DepartmentManager },
                        { name: "Description", value: employee.Description },
                    ];

                    formValues.forEach(function (item) {
                        $('input[name="' + item.name + '"]').val(item.value);
                        $('textarea[name="' + item.name + '"]').val(item.value);
                    });
                },
                error: function (xhr, status, error) {
                    console.log("Hata:", error);
                }
            });
        }

        $('#kaydetButton').click(function () {
            location.reload();
        });
    </script>
    <script>

        function performDeleteAjax(element) {
            var id = $(element).attr('data-id2'); // data-id değerini al
            console.log(id);
            var formData = {
                Id: id,
            };

            $.ajax({
                type: 'POST',
                url: '/Department/Delete', // API veya Controller URL'sini buraya yazın
                data: formData,
                success: function (result) {
                    // Başarılı olduğunda yapılacak işlemler
                    // Örneğin, formu sıfırla veya yeni bir not eklendiğini kullanıcıya bildir
                },
                error: function (xhr, status, error) {
                    // Hata durumunda yapılacak işlemler
                    // Örneğin, hatayı kullanıcıya bildir
                }
            });
        }
    </script>
}

<div id="zoomupModal" class="modal animated zoomInUp custo-zoomInUp" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">Departman Kayıt</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Department" asp-action="Create" method="post">
                    <div class="row">
                        <div class="col-12">

                            <div class="row mb-12">
                                <div class="col">
                                    <input type="text" name="Name" class="form-control" placeholder="Departman Adı">
                                </div>
                            </div>
                            <br />
                            <div class="row mb-4">
                                <div class="col-8">
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <i class="bi bi-person">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                                                </svg>
                                            </i>
                                        </div>
                                        <input type="text" class="form-control" name="DepartmentManager" id="inlineFormInputGroupUsername" placeholder="Departman Yöneticisi">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label class="visually-hidden" for="inlineFormInputGroupUsername">Durum</label>
                                    <div class="input-group">
                                        <select class="form-select" name="Condition" aria-label="Default select example">
                                            <option selected>-Durum-</option>
                                            <option value="True">Aktif</option>
                                            <option value="False">Pasif</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row mb-4">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Açıklama</label>
                                        <textarea name="Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer md-button">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div id="DepartmentDetay" class="modal animated zoomInUp custo-zoomInUp" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">Departman Kayıt</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Department" asp-action="Update" method="post">
                    <input type="hidden" name="Id" value="Id"/>
                    <div class="row">
                        <div class="col-12">

                            <div class="row mb-12">
                                <div class="col">
                                    <input type="text" name="Name" class="form-control" placeholder="Departman Adı">
                                </div>
                            </div>
                            <br />
                            <div class="row mb-4">
                                <div class="col-8">
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <i class="bi bi-person">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                                                </svg>
                                            </i>
                                        </div>
                                        <input type="text" class="form-control" name="DepartmentManager" id="inlineFormInputGroupUsername" placeholder="Departman Yöneticisi">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label class="visually-hidden" for="inlineFormInputGroupUsername">Durum</label>
                                    <div class="input-group">
                                        <select class="form-select" name="Condition" aria-label="Default select example">
                                            <option selected>-Durum-</option>
                                            <option value="True">Aktif</option>
                                            <option value="False">Pasif</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row mb-4">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Açıklama</label>
                                        <textarea name="Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer md-button">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="middle-content container-xxl p-0">
            <div class="col-lg-6">
                <!-- Zoom in up modal -->
                <button type="button" class="btn btn-primary mt-5 mr-2" data-bs-toggle="modal" data-bs-target="#zoomupModal">Departman Ekle</button>
            </div>
            <div class="row layout-top-spacing">
                @foreach (var item in Model)
                {
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-five">

                            <div class="widget-heading">

                                <a href="javascript:void(0)" class="task-info">

                                    @if (!string.IsNullOrEmpty(item.Name))
                                    {
                                        string departmentName = item.Name;
                                        string abbreviation = string.Join("", departmentName.Split(' ', StringSplitOptions.RemoveEmptyEntries)
                                        .Select(word => word.Substring(0, 1).ToUpper()));

                                        <div class="usr-avatar">
                                            <span>@abbreviation</span>
                                        </div>
                                    }

                                    <div class="w-title">

                                        <h5>@item.Name</h5>
                                        <span>@item.DepartmentManager</span>


                                    </div>

                                </a>

                                <div class="task-action">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="pendingTask" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                        </a>

                                        <div class="dropdown-menu left" aria-labelledby="pendingTask" style="will-change: transform;">
                                            <a class="dropdown-item" data-id1="@item.Id" href="javascript:void(0); " onclick="performDetailAjax(this)" data-bs-toggle="modal" data-bs-target="#DepartmentDetay">Düzenle</a>
                                            <a class="dropdown-item" data-id2="@item.Id" onclick="performDeleteAjax(this)">Sil</a>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="widget-content">

                                <p>@item.Description</p>

                                <div class="progress-data">

                                    <div class="progress-info">
                                        <div class="task-count"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg><p>Görev Tamamalama</p></div>
                                        <div class="progress-stats"><p>86.2%</p></div>
                                    </div>

                                    <div class="progress">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 65%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                </div>

                                <div class="meta-info">

                                    <div class="due-time">
                                        <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>Son 34 Gün</p>
                                    </div>


                                    <div class="avatar--group">
                                        <div class="avatar translateY-axis more-group">
                                            <span class="avatar-title">+1</span>
                                        </div>
                                        @foreach (var value in item.Employees.Skip(Math.Max(0, item.Employees.Count() - 6)))
                                        {
                                            <div class="avatar translateY-axis">
                                                <img alt="avatar" src="/cork-v3.8.0/Employees-Foto/@value.ImageUrl" />
                                            </div>
                                        }

                                    </div>

                                </div>


                            </div>

                        </div>

                    </div>
                }

            </div>
            @await Component.InvokeAsync("EmployeesList")
        </div>
    </div>
</div>

